body {
 background-image: url("/static/css/into.jpeg");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-size: cover;

}

.header {
    position: absolute;
    color: #8FBC8F;             
    top: 30%;
    left: 50%;                         
    transform: translate(-50%, -30%);
    text-shadow: 1px 1px 2px black;
}

.form {
    position: absolute;               
    top: 40%;   
    left: 50%;                     
    transform: translate(-50%, -40%)
}

.form input {
    width: 150px;
    height: 35px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.confirmButton {
    width: 100px;
    height: 35px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.confirmButton:hover
{
    background-image:none;
    background-color:#4D4DFE;
    color: white;
    
}

.form:input {
    width:1000px;
}