{% load staticfiles %}<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pytanie: {{ question }}</title>
  
    {% block style %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    {% endblock %}

    {% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        const correctAnswer = "{{ correct_answer }}"
    </script>
    <script type="text/javascript" src="{% static 'js/game.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% endblock %}
</head>
{% csrf_token %}
<p class='nick'>Powodzenia {{nick}}!</p>
<!--<p>Na ten moment wygrałeś następującą ilość nitra: {{level}}</p>-->
<div class="gameContainer">
  {% load staticfiles %}
    <div class="game">
        <img src="{{ question_object.image.url }}" alt="Brak zdjęcia" class="questionImage" id="image">
        <div id="plot" style="width: 98%; height: 70%; display: none"><!-- Plotly chart will be drawn inside this DIV --></div>
        {{ form }}
        <h3 class='question'>{{ question }}</h3>
        <form action="level_result" method="post">{% csrf_token %}
            <input type="submit" name='answer' value={{first_answer}} class="answers" id="answer1"/>
            <input type="submit" name='answer' value={{second_answer}} class="answers" id="answer2"/>
            <input type="submit" name='answer' value={{third_answer}} class="answers" id="answer3"/>
            <input type="submit" name='answer' value={{four_answer}} class="answers" id="answer4"/>
        </form>
        </div>
    <div class="winnings">
        <h2>Koła ratunkowe:</h2>
        {{ form }}
        <form method="post" id="lifePreserver">{% csrf_token %}
            <audio id="major_pierdol_sie" src="{% static 'teleturniej/pierdol_sie_kurwa.mp3' %}"></audio>
            {% if ask_chat == 1 %}
                <input type="submit" name='life_preserver' value="Zapytaj Chat" class="lifePreserverButton" id="call_chat" />
            {% else %}
                <input type="submit" name='life_preserver' value="Zapytaj Chat" class="usedLifePreserverButton" disabled/>
            {% endif %}

            {% if fifty_fifty == 1 %}
                <input type="submit" name='life_preserver' value="50/50" class="lifePreserverButton" id="fifty_fifty" />
            {% else %}
                <input type="submit" name='life_preserver' value="50/50" class="usedLifePreserverButton" disabled/>
            {% endif %}

            {% if call_major == 1 %}
                <input type="submit" name='life_preserver' value="Zadzwon do majora" class="lifePreserverButton" id="call_major" />
            {% else %}
                <input type="submit" name='life_preserver' value="Zadzwon do majora" class="usedLifePreserverButton" disabled/>
            {% endif %}
        </form>
        <h2>Obecnie grasz o:</h2>
        {% if level == 12 %}
            <h3 style ="font-size: 34px; margin-left: -30px;">&#128073; 1 000 000 &#127868; Nitro!</h3>
        {% else %}
            <h3>1 000 000 &#127868; Nitro!</h3>
        {% endif %}

        {% if level == 11 %}
            <h3 style ="font-size: 34px; margin-left: -30px;">&#128073; 500 000 &#127868; Nitro!</h3>
        {% else %}
            <h3>500 000 &#127868; Nitro!</h3>
        {% endif %}

        {% if level == 10 %}
            <h3 style ="font-size: 34px; margin-left: -30px;">&#128073; 250 000 &#127868; Nitro!</h3>
        {% else %}
            <h3>250 000 &#127868; Nitro!</h3>
        {% endif %}
        
        {% if level == 9 %}
            <h3 style ="font-size: 34px; margin-left: -30px;">&#128073; 125 000 &#127868; Nitro!</h3>
        {% else %}
            <h3>125 000 &#127868; Nitro!</h3>
        {% endif %}

        {% if level == 8 %}
            <h3 style ="font-size: 34px; margin-left: -30px;">&#128073; 64 000 &#127868; Nitro!</h3>
        {% else %}
            <h3>64 000 &#127868; Nitro!</h3>
        {% endif %}

        {% if level == 7 %}
            <h3 style ="font-size: 34px; margin-left: -30px;">&#128073; 16 000 &#127868;Nitro!</h3>
        {% else %}
            <h3>16 000 &#127868;Nitro!</h3>
        {% endif %}

        {% if level == 6 %}
            <h3 style ="font-size: 34px; margin-left: -30px;">&#128073; 8000 &#127868; Nitro!</h3>
        {% else %}
            <h3>8000 &#127868; Nitro!</h3>
        {% endif %}

        {% if level == 5 %}
            <h3 style ="font-size: 34px; margin-left: -30px;">&#128073; 2000 &#127868; Nitro!</h3>
        {% else %}
            <h3>2000 &#127868; Nitro!</h3>
        {% endif %}

        {% if level == 4 %}
            <h3 style ="font-size: 34px; margin-left: -30px;">&#128073; 1000 &#127868; Nitro!</h3>
        {% else %}
            <h3>1000 &#127868; Nitro!</h3>
        {% endif %}

        {% if level == 3 %}
            <h3 style ="font-size: 34px; margin-left: -30px;">&#128073; 500 &#127868; Nitro!</h3>
        {% else %}
            <h3>500 &#127868; Nitro!</h3>
        {% endif %}

        {% if level == 2 %}
            <h3 style ="font-size: 34px; margin-left: -30px;">&#128073; 200 &#127868; Nitro!</h3>
        {% else %}
            <h3>200 &#127868; Nitro!</h3>
        {% endif %}

        {% if level == 1 %}
            <h3 style ="font-size: 34px; margin-left: -30px;">&#128073; 100 &#127868; Nitro!</h3>
        {% else %}
            <h3>100 &#127868; Nitro!</h3>
        {% endif %}
    </div>
</div>

